@font-face {
  font-family: "Asap";
  src: url("./static/Asap-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
  background: none;
}

img {
  max-width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  .main {
    width: 160px;
    height: 600px;
    display: flex;
    flex-flow: column;

    .carousel {
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
      border: 1px solid whitesmoke;
      display: flex;
      flex-flow: column;
      padding: 5px 5px 15px 5px;
      flex: 1;

      &-close {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0 3px 8px 0;

        img {
          width: 11px;
        }
      }

      &-slide {
        display: flex;
        flex-flow: column;

        &-image {
          &-container {
            min-height: 250px;
            display: flex;
            align-items: center;
          }
        }

        &-container {
          height: 100%;
          width: 100%;
        }

        &-name {
          margin: 75px 0;
          text-align: center;
          font-family: "Asap";
        }

        &-price {
          font-weight: 700;
          text-align: center;
          margin: 0 20px 0;
          flex: 1;
          font-family: "Open Sans", sans-serif;
        }

        &-button {
          background-color: orangered;
          color: white;
          padding: 10px 30px;
          display: block;
          margin: 40px 20px 0;
          font-family: "Asap";
        }
      }
    }

    &-logo {
      &-img {
        border: 1px solid whitesmoke;
        box-shadow: 0 0 1px gray;
        border-top: none;
        padding: 20px 10px;
      }
    }
  }
}
