* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fcda16;
  --font-name: "Rubik", sans-serif;
}

img {
  max-width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: var(--font-name);
}

.main {
  background-color: white;
  width: 300px;
  height: 600px;
  overflow: hidden;
}

@keyframes showContainer {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.main-container {
  background-color: var(--primary-color);
  height: 100%;
  width: 100%;
  animation: showContainer;
  animation-duration: 400ms;
  position: relative;
}

@keyframes logoSlideInLeft {
  from {
    transform: translateX(-100%) translateY(300px);
  }

  to {
    transform: translateX(45px) translateY(300px);
  }
}

@keyframes logoSlideInTop {
  from {
    transform: translateX(45px) translateY(300px);
  }

  to {
    transform: translateX(45px) translateY(0);
  }
}

.main-container-logo {
  animation: logoSlideInLeft 400ms 800ms, logoSlideInTop 400ms 1.4s;
  transform: translateX(-100%);
  animation-duration: 400ms;
  animation-fill-mode: forwards;
  position: absolute;
  background-color: var(--primary-color);
  padding: 20px;
  z-index: 2;
}

@keyframes slideInSlide {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

.slide {
  animation: slideInSlide 400ms 1.75s;
  animation-fill-mode: forwards;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.slide-info {
  width: 100%;
  padding-left: 45px;
  padding-bottom: 25px;
  z-index: 5;
}

.slide-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: translate(0);
}

.slide-background:first-of-type {
  animation: imgZoom 22s 1.5s forwards;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.slide-background.active {
  animation: slideInFromRight 500ms forwards, imgZoom 22s 1.25s forwards;
}

.previous {
  animation-play-state: paused !important;
}

.slide-background:not(.active):not(.previous) {
  opacity: 0;
}

.slide-carousel {
  height: 100%;
  width: 100%;
  transition: transform 200ms;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-flow: column;
  padding-left: 45px;
  padding-bottom: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes imgZoom {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.75);
  }
}

.slide-city-container {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

@keyframes slideInLeftToRight {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes slideInRightToLeft {
  from {
    transform: scaleX(1);
  }

  to {
    transform: scaleX(0)
  }
}

.slide-city-country.closing,
.slide-city-title.closing {
  transform: scaleX(1);
  animation-name: slideInRightToLeft;
}

.slide-city-title.closing {
  animation-delay: 1.25s;
}

.slide-city-country.closing {
  animation-delay: 1s;
}

.slide-city-country,
.slide-city-title {
  transform: scaleX(0);
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  overflow: hidden;
  animation-name: slideInLeftToRight;
  transform-origin: center left;
  width: fit-content;
}

.slide-city-country {
  background-color: white;
  padding: 0px 10px 0px 10px;
  font-size: 15px;
  animation-delay: 2.5s;
}

@keyframes slideInBottomText {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideUpBottomText {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

.slide-city-country.closing::before,
.slide-city-title.closing::before,
.slide-price-info-container.closing {
  animation-name: slideUpBottomText;
  transform: translateY(0);
  transform-origin: unset;
}

.slide-city-country::before,
.slide-city-title::before,
.slide-price-info-container {
  content: attr(data-label);
  transform: translateY(100%);
  display: block;
  transform-origin: bottom center;
  animation-duration: 300ms;
  animation-name: slideInBottomText;
  animation-fill-mode: forwards;
}

.slide-city-title.closing::before,
.slide-price-info-container.closing {
  animation-delay: 800ms;
}

.slide-city-country.closing::before {
  animation-delay: 400ms;
}

.slide-city-country::before {
  animation-delay: 2.8s;
}

.slide-city-title {
  background-color: var(--primary-color);
  padding: 0px 20px 0px 10px;
  font-size: 42px;
  font-weight: 400;
  animation-delay: 2.9s;
}

.slide-city-title::before {
  animation-delay: 3.6s;
}

.slide-price-container {
  margin-top: 20px;
  z-index: 2;
  width: 100%;
  padding-left: 50px;
  overflow: hidden;
}

.slide-price-info-container {
  animation-delay: 3.2s;
  overflow: hidden;
}

.slide-price-start,
.slide-price-value,
.slide-price-symbol {
  color: var(--primary-color);
  font-size: 15px;
}

.slide-price-start {
  display: block;
  width: 100%;
}

.slide-price-value {
  font-size: 25px;
  font-weight: bold;
}

.slide-price-symbol {
  font-size: 25px;
  font-weight: bold;
  margin-left: 5px;
}

@keyframes slideInBookButton {
  from {
    transform: translateX(200%);
  }
  
  to {
    transform: translateX(0)
  }
}

.slide-price-button {
  display: block;
  background-color: white;
  border: none;
  padding: 10px 40px 15px 30px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 15px;
  position: relative;
  margin-left: 50px;
  transform: translateX(200%);
  animation: slideInBookButton 400ms 2.3s forwards;
}

@keyframes slideInButtonBorder {
  from {
    transform: translate(-75%, -50%) scale(0);  
  }

  to {
    transform: translate(-75%, -50%) scale(1);
  }
}

.slide-price-button-container {
  width: 100%;
  position: relative;
}

.slide-price-button-container::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 51px;
  transform: translate(-75%, -50%) scale(0);
  transform-origin: center left;
  background-color: var(--primary-color);
  width: 65px;
  height: 3px;
  animation: slideInButtonBorder 400ms 2.4s forwards;
  z-index: 2;
}

.slide-price-button::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: var(--primary-color);
}

.slide-indicators {
  height: 15px;
  margin-top: 40px;
  display: flex;
  animation: slideInIndicatorBlock 400ms;
  animation-delay: 2.1s;
  transform: translateY(200%);
  animation-fill-mode: forwards;
}

@keyframes slideInIndicatorBlock {
  from {
    transform: translateY(200%);
  }

  to {
    transform: translateY(0);
  }
}

.slide-indicators-block {
  background-color: white;
  height: 100%;
  width: 15px;
  cursor: pointer;
}

.slide-indicators-block:not(:first-of-type) {
  margin-left: 15px;
}

.slide-indicators-block.active {
  background-color: var(--primary-color);
}
